@font-face {
  font-family: 'MasonChronicles';
  src: url('../fonts/MasonChronicles.woff') format('woff'),
    url('../fonts/MasonChronicles.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #141218;
  ;
  font-family: 'Roboto',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../img/series/background.jpg');
  background-repeat: no-repeat;
  background-position: top right 20%;

}

.container {
  width: 95%;
  max-width: 1040px;
  margin: auto;
}

.neader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 90px;

}

.menu-list {
  margin-right: auto;
  margin-left: 67px;

}

.menu-link {

  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 24px;
}

.social-link {
  margin-left: 20px;
  text-decoration: none;
}

.genre {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
  display: block;
  animation-delay: 0.1s;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  animation-delay: 0.3s;
}

.rating-number {
  font-size: 12px;
  line-height: 14px;
  /* отступ с лева */
  margin-left: 9px;
}

.main-title {
  font-size: 76px;
  line-height: 89px;
  font-family: MasonChronicles, sherif;
  margin-bottom: 10px;
  animation-delay: 0.5s;

}

.main-description {
  max-width: 458px;
  font-size: 14px;
  line-height: 150%;
  /* отступ вниз */
  margin-bottom: 46px;
  animation-delay: 0.7s;
}

.button {
  display: inline-block;
  background-color: #9D2929;
  border-radius: 8px;
  color: #FFF;
  border: none;
  /* отступы сверху 22 а по краям 72 */
  padding: 22px 72px;
  text-decoration: none;
  animation-delay: 1s;

}

.button:active {
  color: #FFF;
}

.main-content {
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9D2929;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  position: relative;
  margin: auto;
}

.play-img {
  position: relative;
  /* треугольник визуально устанавливает по центру */
  transform: translate(5px);
}

.play:before {
  /* создали кнопку показали что контента нет */
  content: '';
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: #9D2929;
  opacity: 0.5;
  position: absolute;
  left: -16px;
  top: -16px;
  animation: pulse 0.5s ease-in-out 0.5s infinite;

}

/* оформление слайдера */
.series {
  /* выравниваем по горизонтали */
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  max-width: 420px;
}

.card {
  width: 164px;
  height: 113px;
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* изменилось с низу и с права растояние */
  padding: 13px;
  /* отступ с права */
  margin-right: 30px;
}

.card-subtitle {
  font-size: 10px;
  line-height: 12px;
  margin-bottom: 2px;
}

.card-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.series-1 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url('../img/series/series-1.jpg');
  ;
  /* background-image: url('../img/series/series-1.jpg'); */
  /* Не повторяться */
  background-repeat: no-repeat;
  /* выровнено равномерно */
  background-size: cover;
  background-position: center center;
}

.series-2 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url('../img/series/series-2.jpg');
  /* background-image: url('../img/series/series-2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.series-3 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url('../img/series/series-2.jpg');
  /* background-image: url('../img/series/series-2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.series-4 {
  background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%),
    url('../img/series/series-2.jpg');
  /* background-image: url('../img/series/series-2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.arrow {
  width: 32px;
  height: 23px;
  border: none;
  background-image: url("../img/social/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: -35px;

}

.swiper-container {
  max-width: 420px;
  margin-left: 0;
}

/* footer */
.footer {
  /* border: 1px solid red; */
  background-color: #141218;
  padding: 20px 0;
  margin-top: auto;

  /* позиционирование прилипает снизу и не уходит при прокрутки */
  /* position: fixed; */
  /* width: 100%; */
  /* bottom: 0; */
}

.tab {
  height: 100px;
}

.footer-content {
  /* выравниваем при помощи флексов */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #5e5c61;
  margin-left: 25px;
}

.copyright {
  color: #5e5c61;
}

.menu-button {
  display: none;
}

/* Респонсив */
@media(max-width: 760px) {
  .play {
    display: none;
  }

  .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .copyright {
    display: block;
    margin-bottom: 8px;
  }

  .footer-link:first-child {
    margin-left: 0;
  }
}

@media(max-width: 540px) {
  .menu-button {
    /* видимая кнопка */
    display: block;
    position: absolute;
    right: 35px;
    top: 40px;
    /* ширина меню */
    width: 30px;
    /* высота */
    height: 2px;
    background-color: #fff;
    border: none;
    margin-right: 20px;
  }

  .menu-button:before {
    content: '';
    /* видимая кнопка */
    display: block;
    position: absolute;
    /* right: 35px; */
    top: 0;
    left: 0;
    /* ширина меню */
    width: 30px;
    /* высота */
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s;
    margin-top: -7px;

  }

  .menu-button:after {
    content: '';
    /* видимая кнопка */
    display: block;
    position: absolute;
    /* right: 35px; */
    top: 0;
    left: 0;
    /* ширина меню */
    width: 30px;
    /* высота */
    height: 2px;
    background-color: #fff;
    transition: transform 0.2s;
    margin-top: 7px;

  }

  .menu-button-active {
    height: 0;

  }

  /* создаем крестик в меню(используем псевдо элементы menu-button:before иafter при помощи джава скрипта) */

  .menu-button-active:before {
    transform: rotate(45deg);
    margin-top: 0;
  }

  .menu-button-active:after {
    transform: rotate(-45deg);
    margin-top: 0;
  }

  .neader {
    /* чтобы элементы выстрамвались в колонку */
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #9D2929;
    width: 250px;
    /* отступ снизу */
    padding-bottom: 40px;
  }

  .neder-activ {
    display: flex;
  }

  .logo {
    /* отступ в низу */
    margin-bottom: 25px;
  }

  .menu-list {
    margin: auto;
    /* в меню 2й по счету */
    order: 2;
    display: flex;
    /* ссылки установим по вертикали */
    flex-direction: column;
    align-items: center;

  }

  .menu-link {
    margin-right: 0;
    /* растояние */
    margin-bottom: 17px;
  }

  .social {
    order: 1;
    margin-bottom: 22px;

  }

  .social-link:first-child {
    margin-left: 0;
  }

  .swiper-container {
    width: 80%;
  }

  .main-content {
    margin-top: 196px;
  }

  .main-title {
    font-size: 56px;
  }

  .series {
    width: 80%;
  }
}